# Wildcard
*.txt
*.log
*.pt
*.pth
*.ckpt
*.py[cod]
*$py.class
*.egg-info/
*.png
*.xzm
*.out
*.lmdb
*.traj
*.h5
*.zip
*.gz
*.whl
*.xyz
*.extxyz
*.pdf
*svg

# Ignore all dir
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
logs/
wandb/
results/
output/
outputs/
checkpoints/
build/
__pycache__/
tmp/
xzm/
draw/
3bpa/
_cart/

# Ignore specific files
.DS_Store
.ipynb_checkpoints

# White list
!cartesian_arch.png
!favicon.svg
!logo.svg
!requirements.txt
!BaTiO3.xyz
!Jd.pt
!matbench_tece_rra.png
!_cart/README.md
!tace/models/_cart/
!tace/models/_cart/*.py
!example/data/liquid-64.xyz
